<header class="header">
    <img src="/images/html5.png" alt="HTML5" class="icons">
    <img src="/images/css3.png" alt="CSS3" class="icons">
    <img src="/images/javascript.png" alt="JavaScript" class="icons">
    <img src="/images/php.png" alt="PHP" class="icons">
    <h1>Formação Full Stack JavaScript</h1>
</header>