<nav class="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li class="margin">
            <a href="/quem-somos">Quem somos?</a>
        </li>
        <li class="margin">
            <a href="/produtos">Produtos</a>
        </li>
        <li class="margin">
            <a href="/servicos">Serviços</a>
        </li>
        <li class="margin">
            <a href="/posts">Posts</a>
        </li>
        <li class="margin">
            <a href="/contato">Contato</a>
        </li>
    </ul>
</nav>