*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.header{
    width: 95vw;
    margin: 20px auto;
    background-image: url("/images/fundo.jpg");
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 40px 0px;
    font-size: 40px;
}

.header h1{
    color: white;
    font-size: 50px;
}

.icons{
    width: 150px;
}

.container{
    display: flex;
    width: 95vw;
    margin: auto;
}

.navbar{
    width: 20%;
    padding-right: 20px;
    padding-bottom: 10px;
}

.navbar ul{
    list-style: none;
}

.navbar li{
    background-color: orangered;
    padding: 10px;
    border-radius: 8px 2px;
    text-align: center;
}

.navbar li a{
    text-decoration: none;
    color: white;
}

.margin{
    margin-top: 12px;
}

.content{
    height: 50vh;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #003674;
    color: white;
    padding: 30px;
}

.img{
    width: 350px;
}

.footer{
    background-color: gray;
    color: white;
    padding: 8px 0;
    text-align: center;
}